apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: flink-nfs-pvc
  namespace: default  # 根据实际命名空间调整
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-storage
  resources:
    requests:
      storage: 10Gi