# ========== 基础部署配置 ==========
replicaCount: 1
nameOverride: "oracle21"
fullnameOverride: "oracle21"

# ========== 镜像配置 ==========
image:
  repository: docker.1ms.run/gvenzl/oracle-xe
  tag: 18
  pullPolicy: IfNotPresent

# ========== Service 配置 ==========
service:
  type: NodePort
  ports:
    - name: oracle-listener
      port: 1521
      targetPort: 1521
      nodePort: 31521
      protocol: TCP

# ========== 资源限制 ==========
resources:
  limits:
    cpu: 2000m
    memory: 3Gi
  requests:
    cpu: 1000m
    memory: 2Gi

# ========== 环境变量 ==========
env:
  - name: ORACLE_PASSWORD
    value: "system"

# ========== 持久化配置 ==========
persistence:
  enabled: true
  storageClass: "local-path"
  accessMode: ReadWriteOnce
  size: 10Gi
  mountPath: "/opt/oracle/oradata"


# ========== 安全上下文 ==========
securityContext:
  runAsUser: 54321
  runAsGroup: 54321
  fsGroup: 54321

# ========== 卷配置（可选） ==========
volumes: []
volumeMounts: []