namenode:
  # 节点的数量
  replicas: 1
datanode:
  # 节点的数量
  replicas: 3
yarn:
  nodemanager:
    resource:
      # 每个NodeManager可分配的总CPU核数
      cpuVcores: 1
      # 每个NodeManager可分配的总内存(MB)
      memoryMb: 999
  scheduler:
    # 任务最大分配内存 nodemanager.resource.memory-mb
    maximumAllocationMb: 998
    # 任务最大分配CPU核数 nodemanager.resource.cpu-vcores
    maximumAllocationVcores: 1
    # 任务最小分配内存
    minimumAllocationMb: 512
    # 任务最小分配CPU核数
    minimumAllocationVcores: 1
  mapreduce:
    map:
      memory:
        mb: 1000m
    reduce:
      memory:
        mb: 1000m
    am:
      resource:
        mb: 1000m
      map:
        memory:
          mb: 1000m
      reduce:
        memory:
          mb: 1000m
port:
  web:
    namenode: 30087
    resourcemanager: 30088
    nodemanager: 30089
  server:
    mysql: 30006

coreSite:
  fs:
    default:
      name: "hdfs://hadoop-namenode"
    defaultFS: "hdfs://hadoop-namenode"

hdfsSite:
  dfs:
    namenode:
      rpcAddress: "0.0.0.0:8020"
      serverAddress: "hadoop-namenode:8020"
    replication: 1

mapredSite:
  mapreduce:
    framework:
      name: yarn
    yarn:
      app:
        mapreduce:
          am:
            env: HADOOP_MAPRED_HOME=$HADOOP_HOME
    map:
      env: HADOOP_MAPRED_HOME=$HADOOP_HOME
    reduce:
      env: HADOOP_MAPRED_HOME=$HADOOP_HOME

capacityScheduler:
  yarn:
    scheduler:
      capacity:
        maximumApplications: 10000
        maximumAmResourcePercent: 0.1
        resourceCalculator: org.apache.hadoop.yarn.util.resource.DefaultResourceCalculator
        root:
          queues: default
          default:
            capacity: 100
            userLimitFactor: 1
            maximumCapacity: 100
            state: RUNNING
            acl:
              submitApplications: "*"
              administerQueue: "*"
        nodeLocalityDelay: 40
        queueMappings: ""
        queueMappingsOverride:
          enable: false
