# hive-config.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: hive-config
data:
  hive-site.xml: |
    <?xml version="1.0"?>
    <configuration>
        <property>
          <name>hive.execution.engine</name>
          <value>mr</value>
        </property>
        <!-- MySQL 5.7 配置 -->
        <property>
            <name>javax.jdo.option.ConnectionURL</name>
            <!-- 针对 MySQL 5.7 的配置 -->
            <value>jdbc:mysql://mysql-service:3306/hive_metastore?createDatabaseIfNotExist=true&amp;useSSL=false</value>
        </property>
        <property>
            <name>javax.jdo.option.ConnectionDriverName</name>
            <!-- MySQL 5.1.49 的驱动类名 -->
            <value>com.mysql.jdbc.Driver</value>
        </property>
        <property>
            <name>javax.jdo.option.ConnectionUserName</name>
            <value>root</value>
        </property>
        <property>
            <name>javax.jdo.option.ConnectionPassword</name>
            <value>root</value>
        </property>
        
        <!-- HDFS 配置 -->
        <property>
            <name>hive.metastore.warehouse.dir</name>
            <value>hdfs://hadoop-namenode:8020/user/hive/warehouse</value>
        </property>
        <property>
            <name>hive.exec.scratchdir</name>
            <value>hdfs://hadoop-namenode:8020/tmp/hive</value>
        </property>
        
        <!-- Metastore 连接 -->
        <property>
            <name>hive.metastore.uris</name>
            <value>thrift://hive-metastore:9083</value>
        </property>
        
        <property>
            <name>spark.master</name>
            <value>spark://spark-master:7077</value>
            <description>Spark Master 地址</description>
        </property>
        
        <!-- Hive Server2 -->
        <property>
            <name>hive.server2.thrift.port</name>
            <value>10000</value>
        </property>
        <property>
            <name>hive.server2.thrift.bind.host</name>
            <value>0.0.0.0</value>
        </property>
        
        <!-- 优化配置 -->
        <property>
            <name>hive.server2.enable.doAs</name>
            <value>false</value>
        </property>
        <property>
            <name>datanucleus.autoCreateSchema</name>
            <value>true</value>
        </property>
        <property>
            <name>datanucleus.fixedDatastore</name>
            <value>false</value>
        </property>
        <property>
            <name>datanucleus.schema.autoCreateAll</name>
            <value>true</value>
        </property>
        
        <property>
            <name>mapreduce.map.memory.mb</name>
            <value>900</value>
        </property>
        <property>
            <name>mapreduce.reduce.memory.mb</name>
            <value>900</value>
        </property>
        <!--  禁用安全检查  -->
        <property>
          <name>hive.security.authorization.enabled</name>
          <value>false</value>
        </property>
        <property>
          <name>hive.security.authorization.manager</name>
          <value></value>
        </property>
        <property>
          <name>hive.security.authenticator.manager</name>
          <value></value>
        </property>
    </configuration>