# 节点的数量
replicas:
  hdfs:
    namenode: 1
    datanode: 2
  yarn:
    resourcemanager: 1
    nodemanager: 2
port:
  web:
    namenode: 30087
    resourcemanager: 30088
    nodemanager: 30089
  server:
    mysql: 30006

yarn:
  mapreduce:
    map:
      memory:
        mb: 900
    reduce:
      memory:
        mb: 900
    am:
      resource:
        mb: 900