# 节点的数量
image:
  registry: docker.1ms.run
  repository: mysql
  tag: 8.0.36
  
replicas:
  hdfs:
    namenode: 1
    datanode: 2
  yarn:
    resourcemanager: 1
    nodemanager: 2
port:
  web:
    namenode: 30087
    resourcemanager: 30088
    nodemanager: 30089
  server:
    mysql: 30006

