apiVersion: v1
kind: Service
metadata:
  name: spark-thrift-server
  labels:
    app: spark
    component: thrift-server
spec:
  type: NodePort
  selector:
    app: spark
    component: thrift-server
  ports:
    - port: 10000
      targetPort: 10000
      name: thrift
      nodePort: 30083
