apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: hive-pvc
  labels:
    app: hive
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  volumeName: nfs-pv
  storageClassName: nfs-storage